# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Tiago André\OneDrive - Instituto Superior de Engenharia do Porto\2º Ano\ESINF\Práticas Laboratoriais\PL4\graph-initial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
